/* CSS Document */
body
{
	margin:0;
}
.logo
{
	padding-left:85px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:bold;
	font-style:italic;
	color:#000000;
}
.footer
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:normal;
	color:#474747;
	text-decoration:none;
}
.send-button
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
}
.main-menu
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
}
.left-menu-heading
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	padding-left:6px;
}
.left-menu-link
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#295909;
	text-decoration:none;
	vertical-align:middle;
	letter-spacing:1px;
}
.heading2
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#295909;
	text-decoration:none;
	text-align:left;
}
.heading
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	text-align:left;
}
.top-button
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	text-align:right;
	color:#000000;
	padding-top:5px;
}
.main-text
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	/*font-weight:normal;
	color:#000000;*/
	text-decoration:none;
	text-align:left;
	line-height:15pt;
	text-align:justify;
}
.main-text-link
{
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
	font-weight:bold;
	color:#41761D;
	text-decoration:underline;
	text-align:left;
	line-height:18pt;
	text-align:justify;
}
.error_msg {
	font-size: 11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:bold;
	color:#FF0000;
}
.disclaimer
{
	font-size:xx-small;
	line-height:14px;
	font-style:italic;
	color:#999999;
}
.notetext
{
	list-style:none;
	padding-left:22px;
	line-height:14px;
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-style:italic;
}