/* CSS Document */
body
{
	background-color:#E3F18D;
}
#header {
	width:100%;
	height:auto;
	position:fixed;
	z-index:15;
	top:0px;
}
#mid-panel {
	height:auto;
	z-index:10;
	margin-left:5px;
	top:107px;
	margin-right:5px;
	margin-bottom:30px;
	position:absolute;
	width: 99%;
	/*overflow:auto;*/
}
