/* CSS Document */
body
{
	background-color:#E3F18D;
}
br
{
	line-height:8px;
}
#header {
	width:100%;
	height:auto;
	position:fixed;
	z-index:15;
	top:0px;
}
#mid-panel {
	height:auto;
	z-index:10;
	margin-left:5px;
	top:107px;
	margin-right:5px;
	margin-bottom:30px;
	position:absolute;
	width: 99%;
	/*overflow:auto;*/
}
.hide
{
	display:none;
}
.show
{
	display:block;
}
.textbox_enable
{
	border:solid;
	border-width:1px;
	border-color:#94A707;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
	text-align:left;
	text-align:justify;
	background-color:#FFFED8;
}
.textbox_disable
{
	border:solid;
	border-width:1px;
	border-color:#94A707;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
	text-align:left;
	text-align:justify;
	background-color:#EBEBEB;
}
.text_enable
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	text-align:left;
	text-align:justify;
}
.text_disable
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#999999;
	text-decoration:none;
	text-align:left;
	text-align:justify;
}
.radio_text_disable
{
	background:none;
	border:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
	text-align:left;
	text-align:justify;
}
.radio_text_enable
{
	background:none;
	border:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	text-align:left;
	text-align:justify;
}
.main_menu_button
{
	border:none;
	text-align:center;
	background:url(images/manu.jpg);
	height:28px;
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	vertical-align:middle;
}